# Week 4 – Working with data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames

In [2]:
# Seed the random number generator
srand(1234);

In [27]:
arr = rand(Normal(0,1), 10)

10-element Array{Float64,1}:
  0.28965
  0.439391
  0.166789
 -0.608117
 -1.57543
 -1.31724
 -1.0044
 -0.119859
  0.250064
  0.860593

In [28]:
println("Column arr mean: ", mean(arr[:,1]), " variance: ", var(arr[:,1]))

Column arr mean: -0.26185570135582126 variance: 0.670259883788098

In [38]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = [randn(30) rand(Normal(10,2), 30) rand(5:15,30)]

30x3 Array{Float64,2}:
  0.283652  10.7695   13.0
 -0.972172  11.4623   11.0
  0.97898    8.92798  15.0
  0.203876  11.1237   14.0
  0.129029  10.4959   15.0
 -0.923066  11.1667   11.0
  0.029566  14.2696   15.0
  0.826251   9.09545   6.0
 -1.62562    6.19014  12.0
 -0.370354   9.70398   7.0
  1.43165    9.39897  10.0
 -1.64752    8.96997  13.0
 -1.01467    7.7334   13.0
  ⋮
 -1.59106    7.01611  11.0
 -0.473003   4.32038  10.0
  0.523     10.6883    9.0
 -0.187617   9.34693   7.0
 -0.732161  10.2264   13.0
  1.27259    9.64128  12.0
 -1.89922    8.9611   15.0
  0.965147  10.711    14.0
 -0.152251   9.30351  13.0
  1.67056    9.25995   7.0
  1.79268   10.7079   15.0
 -0.587392   7.98343  15.0

In [39]:
# Question 5: Mean and variance of column 1
println("Column 1 mean: ", mean(array_1[:,1]), " variance: ", var(array_1[:,1]))

Column 1 mean: -0.15898924285271124 variance: 1.114908895052153

In [40]:
# Question 5 (continued): Mean and variance of column 2
println("Column 2 mean: ", mean(array_1[:,2]), " variance: ", var(array_1[:,2]))

Column 2 mean: 9.830841836486222 variance: 4.156501157443288

In [41]:
# Question 5 (continued): Mean and variance of column 3
println("Column 3 mean: ", mean(array_1[:,3]), " variance: ", var(array_1[:,3]))

Column 3 mean: 11.266666666666667 variance: 9.650574712643678

In [42]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1)

30×3 DataFrames.DataFrame
│ Row │ x1        │ x2      │ x3   │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.283652  │ 10.7695 │ 13.0 │
│ 2   │ -0.972172 │ 11.4623 │ 11.0 │
│ 3   │ 0.97898   │ 8.92798 │ 15.0 │
│ 4   │ 0.203876  │ 11.1237 │ 14.0 │
│ 5   │ 0.129029  │ 10.4959 │ 15.0 │
│ 6   │ -0.923066 │ 11.1667 │ 11.0 │
│ 7   │ 0.029566  │ 14.2696 │ 15.0 │
│ 8   │ 0.826251  │ 9.09545 │ 6.0  │
│ 9   │ -1.62562  │ 6.19014 │ 12.0 │
│ 10  │ -0.370354 │ 9.70398 │ 7.0  │
│ 11  │ 1.43165   │ 9.39897 │ 10.0 │
⋮
│ 19  │ -1.59106  │ 7.01611 │ 11.0 │
│ 20  │ -0.473003 │ 4.32038 │ 10.0 │
│ 21  │ 0.523     │ 10.6883 │ 9.0  │
│ 22  │ -0.187617 │ 9.34693 │ 7.0  │
│ 23  │ -0.732161 │ 10.2264 │ 13.0 │
│ 24  │ 1.27259   │ 9.64128 │ 12.0 │
│ 25  │ -1.89922  │ 8.9611  │ 15.0 │
│ 26  │ 0.965147  │ 10.711  │ 14.0 │
│ 27  │ -0.152251 │ 9.30351 │ 13.0 │
│ 28  │ 1.67056   │ 9.25995 │ 7.0  │
│ 29  │ 1.79268   │ 10.7079 │ 15.0 │
│ 30  │ -0.587392 │ 7.98343 │ 15.0 │

In [43]:
describe(df)

x1
Min      -1.899221574511888
1st Qu.  -0.9711773611622985
Median   -0.1699343097796936
Mean     -0.15898924285271124
3rd Qu.  0.5108672092865927
Max      1.792677757348853
NAs      0
NA%      0.0%

x2
Min      4.320375174582971
1st Qu.  9.00133840238171
Median   9.672629989966001
Mean     9.830841836486222
3rd Qu.  10.710230470735485
Max      14.269574449376176
NAs      0
NA%      0.0%

x3
Min      5.0
1st Qu.  9.25
Median   12.0
Mean     11.266666666666667
3rd Qu.  13.75
Max      15.0
NAs      0
NA%      0.0%

In [50]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
#rename(df,:x1, :Var1)
#rename!(df,:x2, :Var2)
rename!(df,:x3, :Var3)

30×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.283652  │ 10.7695 │ 13.0 │
│ 2   │ -0.972172 │ 11.4623 │ 11.0 │
│ 3   │ 0.97898   │ 8.92798 │ 15.0 │
│ 4   │ 0.203876  │ 11.1237 │ 14.0 │
│ 5   │ 0.129029  │ 10.4959 │ 15.0 │
│ 6   │ -0.923066 │ 11.1667 │ 11.0 │
│ 7   │ 0.029566  │ 14.2696 │ 15.0 │
│ 8   │ 0.826251  │ 9.09545 │ 6.0  │
│ 9   │ -1.62562  │ 6.19014 │ 12.0 │
│ 10  │ -0.370354 │ 9.70398 │ 7.0  │
│ 11  │ 1.43165   │ 9.39897 │ 10.0 │
⋮
│ 19  │ -1.59106  │ 7.01611 │ 11.0 │
│ 20  │ -0.473003 │ 4.32038 │ 10.0 │
│ 21  │ 0.523     │ 10.6883 │ 9.0  │
│ 22  │ -0.187617 │ 9.34693 │ 7.0  │
│ 23  │ -0.732161 │ 10.2264 │ 13.0 │
│ 24  │ 1.27259   │ 9.64128 │ 12.0 │
│ 25  │ -1.89922  │ 8.9611  │ 15.0 │
│ 26  │ 0.965147  │ 10.711  │ 14.0 │
│ 27  │ -0.152251 │ 9.30351 │ 13.0 │
│ 28  │ 1.67056   │ 9.25995 │ 7.0  │
│ 29  │ 1.79268   │ 10.7079 │ 15.0 │
│ 30  │ -0.587392 │ 7.98343 │ 15.0 │

In [51]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = DataFrame(tail(df, 20))

20×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 1.43165   │ 9.39897 │ 10.0 │
│ 2   │ -1.64752  │ 8.96997 │ 13.0 │
│ 3   │ -1.01467  │ 7.7334  │ 13.0 │
│ 4   │ -0.968195 │ 13.7322 │ 5.0  │
│ 5   │ 0.474468  │ 9.59844 │ 6.0  │
│ 6   │ -1.54813  │ 10.4324 │ 9.0  │
│ 7   │ 0.389224  │ 13.2461 │ 10.0 │
│ 8   │ -1.04794  │ 10.4421 │ 12.0 │
│ 9   │ -1.59106  │ 7.01611 │ 11.0 │
│ 10  │ -0.473003 │ 4.32038 │ 10.0 │
│ 11  │ 0.523     │ 10.6883 │ 9.0  │
│ 12  │ -0.187617 │ 9.34693 │ 7.0  │
│ 13  │ -0.732161 │ 10.2264 │ 13.0 │
│ 14  │ 1.27259   │ 9.64128 │ 12.0 │
│ 15  │ -1.89922  │ 8.9611  │ 15.0 │
│ 16  │ 0.965147  │ 10.711  │ 14.0 │
│ 17  │ -0.152251 │ 9.30351 │ 13.0 │
│ 18  │ 1.67056   │ 9.25995 │ 7.0  │
│ 19  │ 1.79268   │ 10.7079 │ 15.0 │
│ 20  │ -0.587392 │ 7.98343 │ 15.0 │

In [52]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

Var1
Min      -1.899221574511888
1st Qu.  -1.0229839987055251
Median   -0.3303099752299704
Mean     -0.16649124660886622
3rd Qu.  0.6335368946309029
Max      1.792677757348853
NAs      0
NA%      0.0%

Var2
Min      4.320375174582971
1st Qu.  8.967750321177625
Median   9.498702096486134
Mean     9.585998794702688
3rd Qu.  10.503666355461032
Max      13.732188381121023
NAs      0
NA%      0.0%

Var3
Min      5.0
1st Qu.  9.0
Median   11.5
Mean     10.95
3rd Qu.  13.0
Max      15.0
NAs      0
NA%      0.0%

In [58]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GraoupA or GroupB
df2[:Cat1] = rand(["GroupA","GroupB"],20)

20-element Array{ASCIIString,1}:
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"

In [59]:
df2

20×4 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │ Cat1     │
├─────┼───────────┼─────────┼──────┼──────────┤
│ 1   │ 1.43165   │ 9.39897 │ 10.0 │ "GroupA" │
│ 2   │ -1.64752  │ 8.96997 │ 13.0 │ "GroupA" │
│ 3   │ -1.01467  │ 7.7334  │ 13.0 │ "GroupA" │
│ 4   │ -0.968195 │ 13.7322 │ 5.0  │ "GroupA" │
│ 5   │ 0.474468  │ 9.59844 │ 6.0  │ "GroupB" │
│ 6   │ -1.54813  │ 10.4324 │ 9.0  │ "GroupA" │
│ 7   │ 0.389224  │ 13.2461 │ 10.0 │ "GroupB" │
│ 8   │ -1.04794  │ 10.4421 │ 12.0 │ "GroupB" │
│ 9   │ -1.59106  │ 7.01611 │ 11.0 │ "GroupA" │
│ 10  │ -0.473003 │ 4.32038 │ 10.0 │ "GroupB" │
│ 11  │ 0.523     │ 10.6883 │ 9.0  │ "GroupA" │
│ 12  │ -0.187617 │ 9.34693 │ 7.0  │ "GroupB" │
│ 13  │ -0.732161 │ 10.2264 │ 13.0 │ "GroupA" │
│ 14  │ 1.27259   │ 9.64128 │ 12.0 │ "GroupA" │
│ 15  │ -1.89922  │ 8.9611  │ 15.0 │ "GroupB" │
│ 16  │ 0.965147  │ 10.711  │ 14.0 │ "GroupA" │
│ 17  │ -0.152251 │ 9.30351 │ 13.0 │ "GroupA" │
│ 18  │ 1.67056   │ 9.25995 │ 7.0  │ "GroupA" │
│ 19  │ 1.79268   │ 10.7079 │ 15.0 │ "GroupA" │
│ 20  │ -0.587392 │ 7.98343 │ 15.0 │ "GroupB" │

In [62]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 10 │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ 35 │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ 59 │
│ 20  │ 20 │ 40 │ 60 │

In [65]:
# Question 12: Change indicated values to empty entries
df3[10,:A] = NA
df3[15,:B] = NA
df3[19,:C] = NA
df3

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ NA │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ NA │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ NA │
│ 20  │ 20 │ 40 │ 60 │

In [66]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = complete_cases!(df3)

17×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 11 │ 31 │ 51 │
│ 11  │ 12 │ 32 │ 52 │
│ 12  │ 13 │ 33 │ 53 │
│ 13  │ 14 │ 34 │ 54 │
│ 14  │ 16 │ 36 │ 56 │
│ 15  │ 17 │ 37 │ 57 │
│ 16  │ 18 │ 38 │ 58 │
│ 17  │ 20 │ 40 │ 60 │